doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/css/bootstrap.min.css')
// style css
link(rel='stylesheet' href='/stylesheets/css/style.css')
// Responsive
link(rel='stylesheet' href='/stylesheets/css/responsive.css')
// fevicon
link(rel='icon' href='/images/fevicon.png' type='image/gif')
// Scrollbar Custom CSS
link(rel='stylesheet' href='/stylesheets/css/jquery.mCustomScrollbar.min.css')
// Tweaks for older IEs
link(rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
// owl stylesheets
link(rel='stylesheet' href='/stylesheets/css/owl.carousel.min.css')
link(rel='stylesheet' href='css/owl.theme.default.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css' media='screen')

//mapa
link(rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css' integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==' crossorigin='')
script(src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js' integrity='sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==' crossorigin='')


script(src='/js/jquery.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/jquery-3.0.0.min.js')
script(src='/js/plugin.js')
// sidebar
script(src='/js/jquery.mCustomScrollbar.concat.min.js')
script(src='/js/custom.js')
// javascript
script(src='/js/owl.carousel.js')
script(src='https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
script(src='/javascript/map.js')
script.


   link(rel='stylesheet' href='/css/owl.carousel.min.css')


    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.8.0/dist/leaflet.css' integrity='sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==' crossorigin='')

    script(src='https://unpkg.com/leaflet@1.8.0/dist/leaflet.js' integrity='sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==' crossorigin='')

body 
  block content
