extends ../layout

block content
 a(href="/usuarios") volver

br
br

  h1 Crear nuevo Usuario
  form(action='/usuarios/create', method='POST')
    .form-group
      label(for='nombre') Nombre
      input(#nombre.form-control type='text' name='nombre' value= usuario.nombre class=error.nombre ? 'is-invalid' : '')
      if error.nombre
        small#nombreHelp.text-danger = error.nombre.mensaje 
    .form-group
     email 
        label(for='email') Email
        input(#email.form-control type='text' name='email' value= usuario.email class=error.email ? 'is-invalid' : '')
        if error.email
            small#emailHelp.text-danger = error.email.mensaje
    .form-group
        label(for='password') Password
        input(#password.form-control type='password' name='password' value= usuario.password class=error.password ? 'is-invalid' : '')
        if error.password
            small#passwordHelp.text-danger = error.password.mensaje
    .form-group
        label(for='password_confirmation') Confirmar Password
        input(#password_confirmation.form-control type='password' name='password_confirmation' value= usuario.password_confirmation class=error.password_confirmation ? 'is-invalid' : '')
        if error.password_confirmation
            small#password_confirmationHelp.text-danger = error.password_confirmation.mensaje

            br
            br

            input.btn.btn-primary(type='submit', value='Crear')")